name: nightly-tests

on:
  push:
    branches: ["main", "python-nightly"]
    paths-ignore:
      - ".vscode/**"
      - "scripts/**"
      - ".pre-commit-config.yaml"
      - "*.md"
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: main
    steps:
      - uses: actions/checkout@v6
      - uses: deadsnakes/action@v3.2.0
        with:
          python-version: "3.15-dev"
      - run: python --version --version && which python
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv venv --python $(which python)
          uv pip install . -r tests/requirements.txt
      - name: Run the test suite
        run: uv run pytest -vv --color=yes --cov
